{% extends "login_template.html" %} {% load compress %} {% block content %}
<div class="login_bg__main">
    <div class="login_bg__main-header">
        <div class="login_bg__main-header__title">
            Изменение пароля
        </div>
        <div class="login_bg__main-header__logo">
            <img src="{{ STATIC_URL }}images/goose.png" width="80px" alt="">
        </div>
    </div>
    <form action='password_change' method='POST'>
        {% csrf_token %}
        <div class="login_bg__main-form">
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button type='submit' class="login_btn">Изменить пароль</button>
            <a href="/accounts/login" class="login_bg__main-form__reset_pwd">Вернуться к логину</a>
        </div>
    </form>
</div>
{% endblock content %}