{% extends "login_template.html" %} {% load compress %} {% block content %}
<div class="login_bg__main">
    <div class="login_bg__main-header">
        <div class="login_bg__main-header__title">
            Восстановление пароля
        </div>
        <div class="login_bg__main-header__logo">
            <img src="{{ STATIC_URL }}images/goose.png" width="80px" alt="">
        </div>
    </div>

        <div class="login_bg__main-form">
            <div class="login_bg__main-form__title">
                Пароль был успешно изменен!
            </div>
            <a href="#" class="login_bg__main-form__reset_pwd">Вернуться к логину</a>
        </div>
</div>
{% endblock content %}