// main: style.less

.modal {
    font-family: @fontUbuntuM!important;
    display: none;
    position: fixed;
    width: 400px;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: @black;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
    &__close {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        .fa-times {
            cursor: pointer;
            transition: .4s;
            &:hover {
                color: darken(@light_blue, 20%);
            }
        }
    }
    &__title {
        font-size: 18px;
    }
    &__data {
        padding: 15px;
        font-size: 18px;
        position: relative;
        .input__help-text {
            top: 65px;
        }
        &__title {
            margin-top: 15px;
            color: @light_grey;
    
        }
        & input {
            font-family: @fontUbuntuM!important;
            font-weight: 400!important;
            border: none;
            border-bottom: 1px solid @boloto;
            padding-left: 15px;
            color: @black;
            height: 30px;
            outline:none;
            font-size: 18px;
            font-weight: bold;
        }
        & input:focus {
            
        }
    }
    &__save {
        text-align: center;
        padding: 12px;
        .def_btn {
            height: 35px;
        }
    }

}