{% load compress %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% block seo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/goose.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/abfe5ab3ea.js" crossorigin="anonymous"></script>

    {% endblock %}
    {% block title %}
    <title>fillbooks</title>
    {% endblock%}
</head>

<body data-ng-app="fillbooks_app" data-ng-controller="fillbooks_controller">
    <div class="all_content">
        <div class="overlay_dark">

        </div>

        {% block css %}
        {% compress css %}
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/fonts.less" charset="utf-8">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/style.less" charset="utf-8">
        {% endcompress %}
        {% endblock %}
        <header>
            <div class="container">
                <div class="header">
                    <div class="header__left">

                    </div>
                    <div class="header__logo">
                        <img src="{{ STATIC_URL }}images/goose.png" width="80px" alt="">
                    </div>
                    <div class="header__menu">
                        <div class="header__menu-list">
                            <div class="header__menu__notification">
                                <img src="{{ STATIC_URL }}images/mail.svg" alt="">
                                <div class="header__menu__notification__count">
                                    3
                                </div>
                            </div>
                            <div class="header__menu__addGood">
                                <div class="add_btn">Добавить товар</div>
                            </div>
                            <div class="header__menu__profile">
                                <div class="header__menu__profile__photo">
                                    <img src="{{ STATIC_URL }}images/andrdiva.jpg" class="profile_avatar" alt="">
                                </div>
                                <div class="header__menu__profile__name">Максим Жирцепс</div>
                                <div class="header__menu__profile__modal"><i class="fas fa-angle-down"></i></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>


            {% block content %}
            {% endblock content %}



        </main>
    </div>
    <div class="modal">
        <div class="modal__close"><i class="fas fa-times fa-2x"></i></div>
        <div class="modal__data">
            <div class="modal__data__title">
                Характеристика
            </div>
            <input type="text">
            <div class="modal__data__title">
                Значение
            </div>
            <input type="text">
        </div>
        <div class="modal__save">
            <button class="def_btn">Сохранить</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="{{ STATIC_URL }}js/angularjs/angular.js"></script>
    <script src="{{ STATIC_URL }}js/fillbooks_angular.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% block scripts %}

    {% endblock scripts %}
</body>

</html>