{% extends "global.html" %} {% load compress %} {% block content %}

<div class="container bg_white">
    <div class="titleh1">
        <h1>Список товаров</h1>
    </div>
    <div class="main">
        <section class="main-block">

            <div class="goods-wrapper">
                {% for good in object_list %}
                <div class="good-item">
                    <div class="good-item-image">
                        <img src="{{ STATIC_URL }}images/Acer-Nitro-7-2-of-19.jpg" class="img_def" alt="">
                    </div>
                    <div class="good-item-info">
                        <div class="good-item-info__model">
                            {{good.brand}} {{good.model}}
                        </div>
                        <div class="good-item-info__branch">
                            {{good.branch}}
                        </div>
                    </div>
                    <div class="good-item-info-add">
                        <div class="good-item-info-add__status">
                            {{good.status}}
                        </div>
                        <div class="good-item-info-add__same">
                            <span class="color_light_gr">Похожие:</span> 5
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="main-block ">
            <div class="titleh1">
                <h1>Информация о филиалах</h1>
            </div>
            <div class="branches_wrapper">
                <div class="branches_wrapper-item">
                    <div class="branches_wrapper-item__title">
                        <i class="fas fa-caret-right"></i> Санкт-Петербург
                    </div>
                    <div class="branches_wrapper-item__info">

                    </div>

                </div>
                <div class="branches_wrapper-item">
                    <div class="branches_wrapper-item__title">
                        <i class="fas fa-caret-right"></i> Москва
                    </div>
                    <div class="branches_wrapper-item__info">

                    </div>

                </div>
                <div class="branches_wrapper-item">
                    <div class="branches_wrapper-item__title">
                        <i class="fas fa-caret-right"></i> Нижний Новгород
                    </div>
                    <div class="branches_wrapper-item__info">

                    </div>

                </div>
                <div class="branches_wrapper-item">
                    <div class="branches_wrapper-item__title">
                        <i class="fas fa-caret-right"></i> Украина
                    </div>
                    <div class="branches_wrapper-item__info">

                    </div>

                </div>
            </div>
            <div class="filtres">
                <div class="filtres__title">
                    Фильтры
                </div>
                <div class="filtres__main">
                    <form name="filtres_form">
                        <div class="filtres__main-item">
                            <div class="filtres__main-item__title">
                                Производитель
                            </div>
                            <div class="filtres__main-item__checks brand_filter_item">
                                <input type="checkbox" class="form-check-input" id="Acer" value="Acer">
                                <label class="form-check-label" for="Acer" >Acer</label>
                                <br>
                                <input type="checkbox" class="form-check-input" id="Asus" value="Asus">
                                <label class="form-check-label" for="Asus" >Asus</label>
                                <br>
                                <input type="checkbox" class="form-check-input" id="HP" value="HP">
                                <label class="form-check-label" for="HP" >HP</label>
                            </div>
                        </div>
                        <button id="filtres_submit">Применить</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>
{%csrf_token%}
{% endblock content %}
{% block scripts %}
<script>
    $('#filtres_submit').click(function () {
        var brand_list = []
        $('.brand_filter_item input[type="checkbox"]:checked').each(function(){
            brand_list.push($(this).val());
        })

        $.ajax({
            type: 'GET',
            url: '/goods',
            data: { 'brand': brand_list.join('-') },
            async: false,
            dataType: 'text',
            success: function (data) { 
                console.log(this.url);
                window.location = this.url;
             }, // обработка ответа от сервера
            error: function (jqXHR) { console.log('Ошибка выполнения'); },
            complete: function () { console.log('Завершение выполнения'); }
        });
    })

</script>
{% endblock scripts %}