{% extends "global.html" %} {% load compress filtres %} {% block content %}

<div class="container bg_white">
    <div class="titleh1">
        <h1>Список товаров</h1>
    </div>
    <div class="main">
        <section class="main-block">

            <div class="goods-wrapper">
                {% for good in object_list %}
                <div class="good-item">
                    <div class="good-item-image">
                        <img src="{{ STATIC_URL }}images/Acer-Nitro-7-2-of-19.jpg" class="img_def" alt="">
                    </div>
                    <div class="good-item-info">
                        <div class="good-item-info__model">
                            {{good.brand}} {{good.model}}
                        </div>
                        <div class="good-item-info__branch">
                            {{good.branch}}
                        </div>
                    </div>
                    <div class="good-item-info-add">
                        <div class="good-item-info-add__status">
                            {{good.status}}
                        </div>
                        <div class="good-item-info-add__same">
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="main-block ">
            <div class="titleh1">
                <h1>Информация о филиалах</h1>
            </div>
            <div class="branches_wrapper">
                <div class="branches_wrapper-item" id="testclick">
                    <details>
                        <summary>Санкт-Петербург</summary>
                        <div class="branches_wrapper-item__spoiler-text">
                            <div class="branches_wrapper-item__spoiler-text__status">
                                Ожидает оценки: 3 <br> Отказ: 1 <br> Приобретен: 5 <br> Оценен: 10
                            </div>
                            <div class="branches_wrapper-item__spoiler-text__balance">
                                Баланс: 115 000.00 руб <br> Работяг: 2
                            </div>
                        </div>
                    </details>
                </div>
                <div class="branches_wrapper-item">
                    <details>
                        <summary>Москва</summary>
                        <div class="branches_wrapper-item__spoiler-text">
                            <div class="branches_wrapper-item__spoiler-text__status">
                                Ожидает оценки: 3 <br> Отказ: 1 <br> Приобретен: 5 <br> Оценен: 10
                            </div>
                            <div class="branches_wrapper-item__spoiler-text__balance">
                                Баланс: 115 000.00 руб <br> Работяг: 2
                            </div>
                        </div>
                    </details>
                </div>
                <div class="branches_wrapper-item">
                    <details>
                        <summary>Нижний Новгород</summary>
                        <div class="branches_wrapper-item__spoiler-text">
                            <div class="branches_wrapper-item__spoiler-text__status">
                                Ожидает оценки: 3 <br> Отказ: 1 <br> Приобретен: 5 <br> Оценен: 10
                            </div>
                            <div class="branches_wrapper-item__spoiler-text__balance">
                                Баланс: 115 000.00 руб <br> Работяг: 2
                            </div>
                        </div>
                    </details>
                </div>
                <div class="branches_wrapper-item">
                    <details>
                        <summary>Украина</summary>
                        <div class="branches_wrapper-item__spoiler-text">
                            <div class="branches_wrapper-item__spoiler-text__status">
                                Ожидает оценки: 3 <br> Отказ: 1 <br> Приобретен: 5 <br> Оценен: 10
                            </div>
                            <div class="branches_wrapper-item__spoiler-text__balance">
                                Баланс: 115 000.00 руб <br> Работяг: 2
                            </div>
                        </div>
                    </details>
                </div>
            </div>
            <div class="filtres">
                <div class="filtres__title">
                    Фильтры
                </div>
                <div class="filtres__main">
                    <form name="filtres_form" id="filtres_form">
                        <div class="filtres__main-item">
                            <div class="filtres__main-item__title">
                                Филиал
                            </div>
                            <div class="filtres__main-item__checks branch_filter_item">
                                {% get_branchs as branchs %}
                                {% for branch in branchs %}
                                <input type="checkbox" class="form-check-input" id="{{branch.name}}"
                                    value="{{branch.name}}" data-id="{{branch.pk}}">
                                <label class="form-check-label" for="{{branch.name}}">{{branch.name}}</label>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="filtres__main-item">
                            <div class="filtres__main-item__title">
                                Производитель
                            </div>

                            <div class="filtres__main-item__checks brand_filter_item">
                                {% get_brands as brands %}
                                {% for brand in brands %}
                                <input type="checkbox" class="form-check-input" id="{{brand.name}}" name="brand"
                                    value="{{brand.name}}" data-id="{{brand.pk}}">
                                <label class="form-check-label" for="{{brand.name}}">{{brand.name}}</label>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="filtres__main-item">
                            <div class="filtres__main-item__title">
                                Модель
                            </div>
                            <div class="filtres__main-item__checks model_filter_item">
                                <span style="color: #afafaf;">Выберите производителя</span>
                            </div>
                        </div>
                        <div class="filtres__main-item">
                            <div class="filtres__main-item__title">
                                Статус
                            </div>
                            <div class="filtres__main-item__checks status_filter_item">
                                {% get_status as statuses %}
                                {% for status in statuses %}
                                <input type="checkbox" class="form-check-input" id="{{status}}" value="{{status}}">
                                <label class="form-check-label" for="{{status}}">{{status}}</label>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                    <button id="filtres_submit" form="filtres_form">Применить</button>
                </div>
            </div>
        </section>
    </div>

</div>
{%csrf_token%}
{% endblock content %}
{% block scripts %}
<script>
    function setCheckboxesState(group, params) {
        $('.' + group + '_filter_item input[type="checkbox"]').each(function () {
            let params_list = params.get(group).split('-');
            if (params_list.includes($(this).val())) {
                $(this).attr('checked', 'checked');
            }
        })
    }
    function updateFiltresState() {
        let params = (new URL(document.location)).searchParams;
        if (params.has('brand') || params.has('model') || params.has('status')) {
            setCheckboxesState('model', params)
            setCheckboxesState('brand', params)
            setCheckboxesState('status', params)
        }
    }
    function setStatusState(data) {
        $('.status_filter_item input').each(function(){
            $(this).prop('disabled', false);
            if(data.is_await == false && $(this).val() == 'Ожидает оценки') {
                $(this).prop('disabled', true);
            }
            if(data.is_priced == false && $(this).val() == 'Оценен') {
                $(this).prop('disabled', true);
            }            
            if(data.is_purchase == false && $(this).val() == 'Приобретен') {
                $(this).prop('disabled', true);
            }            
            if(data.is_reject == false && $(this).val() == 'Отказ') {
                $(this).prop('disabled', true);
            }
        })
    }
    updateFiltresState()

    function getCheckboxesValue(group) {
        let list = []
        $('.' + group + '_filter_item input[type="checkbox"]:checked').each(function () {
            list.push($(this).val());
        })
        return list;
    }

    let form = document.forms.filtres_form;
    form.onsubmit = function () {
        var brand_params = getCheckboxesValue('brand').join('-')
        var model_params = getCheckboxesValue('model').join('-')
        var status_params = getCheckboxesValue('status').join('-')

        let url = `/goods?brand=${brand_params}&model=${model_params}&status=${status_params}`;

        window.location = url;
    }
    $('#testclick').click(function (e) {
        var myData = {};
        myData.branch_id = 2;
        console.log(myData);
        var data = new FormData();
        // data.append("json", JSON.stringify(myData));
        data.append("branch_id", 2);
        console.log(data)
        fetch("/api/branch_info", {
            method: "POST",
            body: data,
            headers: { 'X-CSRFToken': getCookie('csrftoken') }
        }).then(function (response) {
            return response.json();
        }).then(function (data) {

            console.log(data);
        });
    })

    $('#filtres_form input').click(function () {
        var myData = {};
        var $parent_item = $(this).parent()
        if ($parent_item.hasClass('brand_filter_item')) {
            myData.brandID = [];
            $parent_item.children('input[type="checkbox"]:checked').each(function () {
                myData.brandID.push(this.getAttribute('data-id'))
            })
            var data = new FormData();
            data.append("json", JSON.stringify(myData));
            console.log(data)
            fetch("/api/check_brand", {
                method: "POST",
                body: data,
                headers: { 'X-CSRFToken': getCookie('csrftoken') }
            }).then(function (response) {
                return response.json();
            }).then(function (data) {

                console.log(data.models);
                let items = '';
                for (var i in data.models) {
                    items += `<input type="checkbox" class="form-check-input" id="${data.models[i].name}" value="${data.models[i].name}">
                                <label class="form-check-label" for="${data.models[i].name}">${data.models[i].name}</label>
                                <br>`;
                }
                $('.model_filter_item').html(items);
            });
        }
        if ($parent_item.hasClass('branch_filter_item')) {
            myData.branch = [];
            $parent_item.children('input[type="checkbox"]:checked').each(function () {
                myData.branch.push(this.getAttribute('data-id'))
            })
            var data = new FormData();
            data.append("json", JSON.stringify(myData));
            console.log(data)
            fetch("/api/check_branch", {
                method: "POST",
                body: data,
                headers: { 'X-CSRFToken': getCookie('csrftoken') }
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                setStatusState(data)
                console.log(data);

            });
        }
        if ($parent_item.hasClass('status_filter_item')) {
            myData.status = [];
            $parent_item.children('input[type="checkbox"]:checked').each(function () {
                myData.status.push($(this).val())
            })
            var data = new FormData();
            data.append("json", JSON.stringify(myData));
            console.log(data)
            fetch("/api/check_status", {
                method: "POST",
                body: data,
                headers: { 'X-CSRFToken': getCookie('csrftoken') }
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                let unique = [...new Set(data.branchs.map(li => li.branch))]
                console.log(data);
            });
        }

    })
</script>
{% endblock scripts %}