{% extends "global.html" %} {% load compress %} {% block content %}
<div class="container bg_white">
    <div class="titleh1">
        <h1>Добавление нового товара</h1>
    </div>
    <div class="main">
        <section class="main-block">
            <div class="flex-row-wrapper">
                <div class="flex-row-wrapper-block">
                    <div class="propertyblock">
                        <div class="propertyblock__title">
                            Модель ноутбука
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Производитель
                            </div>
                            <div class="propertyblock__prop__val">
                                Acer
                            </div>
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Модель
                            </div>
                            <div class="propertyblock__prop__val">
                                Aspire 3 A317-32-P6WW
                            </div>
                        </div>
                    </div>
                    <div class="propertyblock">
                        <div class="propertyblock__title">
                            Экран ноутбука
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Диагональ экрана
                            </div>
                            <div class="propertyblock__prop__val">
                                17.3 "
                            </div>
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Разрешение экрана
                            </div>
                            <div class="propertyblock__prop__val">
                                1600×900
                            </div>
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Частота обновления
                            </div>
                            <div class="propertyblock__prop__val">
                                144 Гц
                            </div>
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Тип матрицы
                            </div>
                            <div class="propertyblock__prop__val">
                                IPS
                            </div>
                        </div>
                        <div class="propertyblock__prop-add">
                            <div class="propertyblock__prop-add__text">
                                Добавить характеристику
                            </div>
                            <div class="propertyblock__prop-add__icon">

                            </div>
                        </div>
                    </div>
                    <div class="propertyblock">
                        <div class="propertyblock__title">
                            Устройство хранения данных
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Объем SSD
                            </div>
                            <div class="propertyblock__prop__val">
                                512 Гб
                            </div>
                        </div>
                        <div class="propertyblock__prop-add">
                            <div class="propertyblock__prop-add__text">
                                Добавить характеристику
                            </div>
                            <div class="propertyblock__prop-add__icon">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row-wrapper-block">
                    <div class="propertyblock_rev">
                        <div class="propertyblock_rev__title">
                            Продавец
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Имя
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                Валентина Петровна
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Номер телефона
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                7 920 145 78 98
                            </div>
                        </div>
                    </div>
                    <div class="propertyblock_rev">
                        <div class="propertyblock_rev__title">
                            Конфигурация ноутбука
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Процессор
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                Intel Core i5 9300H
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Частота процессора
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                2.4 ГГц (4.1 ГГц, в режиме Turbo)
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Количество ядер
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                четырехъядерный
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Оперативная память
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                8192 Мб, DDR4, 2666 МГц
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Тип графического контроллера
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                дискретный
                            </div>
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Графический контроллер
                            </div>
                            <div class="propertyblock_rev__prop__val">
                                NVIDIA GeForce GTX 1650 — 4096 Мб
                            </div>
                        </div>
                        <div class="propertyblock__prop-add" onclick="openModalProp()">
                            <div class="propertyblock__prop-add__text">
                                Добавить характеристику
                            </div>
                            <div class="propertyblock__prop-add__icon">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <hr>
            <div class="blockPropertys-add" onclick="openModalProp()">
                <div class="blockPropertys-add__text">
                    Добавить блок характеристик
                </div>
                <div class="blockPropertys-add__icon">

                </div>
            </div>
        </section>
        <section class="main-block">
            <div class="photo_view">
                <div class="photo_view__title">
                    Фото внешний вид
                </div>
                <div class="photo_view__img-wrapper">
                    <div class="photo_view__img-wrapper__new" id="view_photo_new">
                        <input type="file" name="view_photos[]" id="file_views" class="inputfile" multiple />
                        <label for="file_views"> <i class="fas fa-camera fa-3x"></i></label>
                    </div>
                </div>

            </div>
            <div class="photo_view">
                <div class="photo_view__title">
                    Фото тестов ноутбука
                </div>
                <div class="photo_view__img-wrapper">
                    <div class="photo_view__img-wrapper__new" id="test_photo_new">
                        <input type="file" name="tests_photos" id="file_tests" class="inputfile" onChange="myFunc(this)"
                            multiple />
                        <label for="file_tests"> <i class="fas fa-camera fa-3x"></i></label>
                    </div>
                </div>

            </div>
            <div class="propertyblock">
                <div class="propertyblock__title">
                    Описание товара
                </div>
                <div class="propertyblock__description">
                    <textarea name="" class="good_description" id="" cols="30" rows="10"
                        placeholder="Введите описание..."></textarea>
                </div>
                <div class="propertyblock__btn">
                    <button class="def_btn">Отправить</button>
                </div>
            </div>
        </section>
    </div>

</div>

{%csrf_token%}
{% endblock content %}
{% block scripts %}
<script>
    function readURL(input, group) {
        $(input.files).each(function (i, el) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('<div class="photo_view__img-wrapper__photo"><img src="' + e.target.result + '" class="img_def"></div>').insertBefore('#' + group);
                // $('<img>').attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[i]);
        });
    }

    $("#file_tests").change(function () {
        readURL(this, 'test_photo_new');
    });
    $("#file_views").change(function () {
        readURL(this, 'view_photo_new');
    });


</script>
{% endblock scripts %}