{% extends "global.html" %} {% load compress %} {% block content %}
<div class="container bg_white">
    <div class="titleh1">
        <h1>Добавление нового товара</h1>
    </div>
    <div class="main">
        <section class="main-block">
            <div class="flex-row-wrapper">
                <div class="flex-row-wrapper-block" id="propertiesBlock_list">
                    <div class="propertyblock">
                        <div class="propertyblock__title">
                            Модель ноутбука
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Производитель
                            </div>
                            <input type="text" name="notebook_brand" class="propertyblock__prop-value__input">
                        </div>
                        <div class="propertyblock__prop">
                            <div class="propertyblock__prop__key">
                                Модель
                            </div>
                            <input type="text" name="notebook_model" class="propertyblock__prop-value__input">
                        </div>
                    </div>

                </div>
                <div class="flex-row-wrapper-block" id="propertiesBlock_list_rev">
                    <div class="propertyblock_rev">
                        <div class="propertyblock_rev__title">
                            Продавец
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Имя
                            </div>
                            <input type="text" name="seller_name" class="propertyblock__prop-value__input">
                        </div>
                        <div class="propertyblock_rev__prop">
                            <div class="propertyblock_rev__prop__key">
                                Номер телефона
                            </div>
                            <input type="text" name="seller_phone" class="propertyblock__prop-value__input">
                        </div>
                    </div>

                </div>

            </div>
            <hr>
            <div class="blockPropertys-add" onclick="openModalPropBlock()">
                <div class="blockPropertys-add__text">
                    Добавить блок характеристик
                </div>
                <div class="blockPropertys-add__icon">

                </div>
            </div>
        </section>
        <section class="main-block">
            <div class="photo_view">
                <div class="photo_view__title">
                    Фото внешнего вида и тестов ноутбука
                </div>
                <div class="photo_view__img-wrapper">
                    <div class="photo_view__img-wrapper__new" id="view_photo_new">
                        <input type="file" name="view_photos" id="file_views" class="inputfile" multiple />
                        <label for="file_views"> <i class="fas fa-camera fa-3x"></i></label>
                    </div>
                </div>
            </div>

            <div class="description_notebook">
                <div class="description_notebook__title">
                    Описание товара
                </div>
                <div class="description_notebook__description">
                    <textarea name="notebook_description" class="good_description" id="" cols="30" rows="10"
                        placeholder="Введите описание..."></textarea>
                </div>
                <div class="description_notebook__btn">
                    <button class="def_btn" id="post_new_notebook">Отправить</button>
                </div>
            </div>
        </section>
    </div>

</div>

{%csrf_token%}
{% endblock content %}
{% block scripts %}
<script>
    function addPropertyInputs(element) {
        console.log(element)
        $(element).before(`<div class="propertyblock__prop">
                            <input type="text" class="propertyblock__prop-key__input">
                            <input type="text" class="propertyblock__prop-value__input">
                        </div>`);
    }
    function readURL(input, group) {
        $(input.files).each(function (i, el) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('<div class="photo_view__img-wrapper__photo"><img src="' + e.target.result + '" class="img_def"></div>').insertBefore('#' + group);
            };
            reader.readAsDataURL(input.files[i]);
        });
    }

    $("#file_tests").change(function () {
        readURL(this, 'test_photo_new');
    });
    $("#file_views").change(function () {
        readURL(this, 'view_photo_new');
    });

    $('#post_new_notebook').click(function () {
        json = {}
        var data = new FormData();

        let propertyBlocks = document.getElementsByClassName('prop_block')

        json['propertyBlocks'] = {}
        $(propertyBlocks).each(function () {
            let propertiesList = {};
            $(this).children('.propertyblock__prop').each(function () {
                propertiesList[this.childNodes[1].value] = this.childNodes[3].value
            });
            json['propertyBlocks'] = {
                'name': this.childNodes[1].innerText,
                'properties': propertiesList,
            }
        })
        console.log(json)
        data.append("propertyBlocks", JSON.stringify(json));
        data.append("notebook_brand", document.getElementsByName('notebook_brand')[0].value);
        data.append("notebook_model", document.getElementsByName('notebook_model')[0].value);
        data.append("seller_name", document.getElementsByName('seller_name')[0].value);
        data.append("seller_phone", document.getElementsByName('seller_phone')[0].value);
        data.append("notebook_description", document.getElementsByName('notebook_description')[0].value);
        data.append('notebook_images', document.getElementsByName('view_photos')[0].files);

        fetch("/good_create", {
            method: "POST",
            body: data,
            headers: { 'X-CSRFToken': getCookie('csrftoken') }
        }).then(function (response) {
            return response.json();
        }).then(function (data) {

        });

    })
</script>
{% endblock scripts %}