{% extends "a4_template.html" %} {% load compress %}
{% block title %}
<title>Отгрузка товаров</title>
{% endblock %}
{% block content %}
<div class="shipment_blank-menu">
    <button id="shipping_cancel">Отменить отгрузку</button>
    <button id="shipping_confirm">Подтвердить</button>
</div>
<h2>Отгрузка товаров №34 от 07 июня 2020 года</h2>
<hr>
{% autoescape off %}
{{blank.top}}
{% endautoescape %}
<table class="table_print">
    <tr>
        <th>№</th>
        <th>Товар</th>
        <th>Цена</th>
    </tr>
    {% for good in goods %}
    <tr class="table_print__main">
        <td style="text-align: center;">{{ forloop.counter }}</td>
        <td style="text-align: left;">{{good.brand}} {{good.model}}</td>
        <td style="text-align: right;">{{good.price}}</td>
    </tr>
    {% endfor %}

</table>
{% autoescape off %}
{{blank.bottom}}
{% endautoescape %}
{% endblock content %}
{% block scripts %}
<script>
    $('#shipping_confirm').click(function () {
        var data = new FormData();
        var goods = [];
        '{% for good in goods %}'
        goods.push(parseInt('{{good.pk}}'));
        '{% endfor %}'
        console.log(goods)
        data.append('goods', goods);
        fetch("/goods/shipping/complete", {
            method: "POST",
            body: data,
            headers: { 'X-CSRFToken': getCookie('csrftoken') }
        }).then(function (response) {

        }).then(function (data) {
            print();
            window.location.href = '/goods'
        });
    });
    $('#shipping_cancel').click(function () {
        window.location.href = '/goods'
    });
</script>
{% endblock scripts %}