{% extends "global.html" %} {% load compress %} {% block content %}

<div class="container bg_white">
    <div class="titleh1">
        <h1>Редактирование бланка отгрузки товаров</h1>
    </div>
    <div class="main">
        <section class="main-block">
            <form method="POST" action="/goods/shipping/edit">
                {% csrf_token %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="propertyblock__prop">
                            <div style="color: red" class="propertyblock__prop__key">
                                {{error|escape}}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="propertyblock__prop">
                        <div class="propertyblock__prop__key">
                            {{field.label}}
                        </div>
                        {{field}}
                    </div>
                {% endfor %}
                <div class="propertyblock__btn">
                    <button type='submit' class="def_btn">Сохранить</button>
                </div>
            </form>
            <!-- <h4>Верхняя часть бланка</h4>
            <textarea name="shipping_edit" id="shipping_edit_ta" cols="60" rows="20"></textarea> -->
        </section>
        <section class="main-block">
            <!-- <h4>Нижняя часть бланка</h4>
            <textarea name="shipping_edit" id="shipping_edit_ta" cols="60" rows="20"></textarea> -->
        </section>
    </div>

</div>
{%csrf_token%}
{% endblock content %}
{% block scripts %}
<script src="https://cdn.tiny.cloud/1/jxvpqb45thr42gdscs3zaa0nbzecr56w81yowue8dc4eg8d6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({ selector: 'textarea' });
</script>
{% endblock scripts %}